.card-hello {
  display: flex;
  margin: 90px 0px;
}

.hello-intro {
  width: 500px;
  text-align: left;
  margin-left: 50px;
}

.intro {
  width: 500px;
  height: 500px;
  margin-top: 30px;
  text-align: left;
  font-weight: lighter;
}

.hello-img {
  height: 500px;
  border: solid;
  border-radius: 5px;
  margin-top: 30px;
}

h4 {
  font-weight: lighter;
}
