.card-hello {
  display: flex;
  /* grid-template-rows: 1fr 1fr 1fr; */
}

.hello-intro {
  width: 500px;
  align-self: center;
}

.intro {
  width: 500px;
  text-align: left;
  font-weight: lighter;
}

/* .hello-intro img {
  opacity: 30%;
  filter: invert(1%) sepia(19%) saturate(300%) hue-rotate(155deg) brightness(89%) contrast(87%);
  /* filter: invert(47%) sepia(49%) saturate(370%) hue-rotate(155deg) brightness(89%) contrast(87%);
} */
