.card-hello {
  display: flex;
  margin: 90px 0px;
}

.hello-intro {
  width: 500px;
  text-align: right;
  margin-right: 70px;
}

.intro {
  width: 500px;
  margin-top: 30px;
  text-align: right;
  font-weight: lighter;
}

.hello-img {
  height: 420px;
  border: solid;
  border-radius: 5px;
}
