/* REPONSIVE */
@media only screen and (min-width : 1025px) and (max-width : 1440px) {
  .pa-container {
    width: 100%;
  }

  .main-container, .contenair-flex {
    width: 100%;
  }


}

.logo {
  visibility: hidden;
}

.main-container {
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
    /* max-width: 1600px;
    padding: 200px 150px;
    display: inline-block; */
}

.main-container {
  padding: 0px 150px;
}


body {
  text-align: center;
  margin: 0px;
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: 1px;
  overflow-x: hidden;
  /* -webkit-transition: background 0.2s linear;
  transition: background 0.2s linear; */
}

/* HEADERS */
h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

.hello-intro2 p {
  font-size: 1.7rem;
  text-transform: uppercase;
  color: #4E8098;
}

  /* LINKS */
a {
  font-weight: 600;
  font-size: 1rem;
}

ul,
li,
a {
  text-decoration: none;
  list-style: none;
}

ul {
  padding: 0px;
}

.arrow {
  position: absolute;
  cursor: pointer;
  font-size: 5.5rem;
  left: 50%;
  right: 50%;
  color: #4E8098;
}

.arrow:active {
  border-bottom: 4px solid #4E8098;
}

.arrow:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #4E8098;
}

.material-symbols-outlined, .material-symbols-outlined p {
  color: #4E8098;
  font-size: 1rem;
}

.spacer {
  height: 20vh;
}
