/* REPONSIVE */
@media only screen and (min-width : 1025px) and (max-width : 1440px) {
  .pa-container {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .pa-container {
    background-color: red;
  }
}


.main-container {
    max-width: 1000px;
    margin: 0 auto;
    width: 90%;
    height: 100%;
    width: 100%;
    /* max-width: 1600px;
    min-height: 100vh;
    padding: 200px 150px;
    display: inline-block; */
}

.main-container {
  padding: 0px 150px;
}


body {
  text-align: center;
  margin: 0px;
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: 1px;
  overflow-x: hidden;
  /* -webkit-transition: background 0.2s linear;
  transition: background 0.2s linear; */
}

/* HEADERS */
h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

.hello-intro2 p {
  font-size: 2.3rem;
}

  /* LINKS */
a {
  font-weight: 600;
  font-size: 1rem;
}

ul,
li,
a {
  text-decoration: none;
  list-style: none;
}
