/* For a screen < 960px */

@media only screen and (max-width: 960px) {
  .pa-container {
    width: 90%;
    /* min-height: 100vh; */
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 100%;
  }

}



.main-container {
    max-width: 1000px;
    margin: 0 auto;
    width: 90%;
    height: 100%;
    /* width: 100%; */
    /* max-width: 1600px;
    min-height: 100vh;
    padding: 200px 150px;
    display: inline-block; */
}

.main-container.fillHeight {
  padding: 0px 150px;
}


body {
  text-align: center;
  margin: 0px;
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: 1px;
  overflow-x: hidden;
  /* -webkit-transition: background 0.2s linear;
  transition: background 0.2s linear; */
}

/* HEADERS */
h2 {
  font-size: 2.5rem;
}

  /* LINKS */
a {
  font-weight: 600;
  font-size: 1rem;
}

ul,
li,
a {
  text-decoration: none;
  list-style: none;
}
