/* INTRO */
.welcome {
  height: 100vh;
}
.hello-intro {
  /* height: 100vh; */
  width: 100%;
  flex-flow: column wrap;
  display: flex;
  justify-content:center;
}

.about-h2 {
  margin-top: 50px;
}

.hello-intro h1, p {
  display: flex;
  text-align: left;
  align-items: center;
}
/* ARROW */
..material-icons {
  font-size: 5.5rem;

}
.arrow {
  position: relative;
  margin-top: 60px;
  cursor: pointer;
  font-size: 4.5rem!important;
  color: #4E8098;
}

.arrow:active {
  border-bottom: 2px solid #4E8098;
}

.arrow:hover {
  color: #092327;
}

/* ABOUT */

.card-hello {
  display: flex;
  margin-bottom: 90px;
}

.hello-about {
  width: 500px;
  text-align: left;
  margin-left: 50px;
}

.about {
  width: 500px;
  text-align: left;
  font-weight: lighter;
}

.hello-img {
  width: 100%;
  height: auto;
  border: solid;
  border-radius: 5px;
  margin-top: 30px;
}

h4 {
  font-weight: lighter;
}
