.nav-bar {
  /* padding: 0px 50px; */
  background: none;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: fixed;
  transition: top 0.3s; */
}

 .nav-links ol {
    display: flex;
    justify-content: space-between;
    float: right;

 }

 .nav-links li {
  margin: 0px 15px;
  position: relative;
  color: #4E8098;
  font-weight: bold;
  float: left;

}

.logo-container .img-logo {
  height: 70px;
}

.logo-container .img-logo {
  height: 60px;
  /* Darkblue #4E8098 */
  filter: invert(47%) sepia(49%) saturate(370%) hue-rotate(155deg) brightness(89%) contrast(87%);
  /* Lightblue #ADC9CE */
  /* filter: invert(88%) sepia(22%) saturate(203%) hue-rotate(141deg) brightness(85%) contrast(92%); */
}

.img-logo:hover {
  filter: invert(88%) sepia(22%) saturate(203%) hue-rotate(141deg) brightness(85%) contrast(92%);
}
