.skills {
  height: 100%;
}

.skills-container {
  /* margin: 6% auto; */
  display: flex;
}

.skills-title {
  -ms-flex-preferred-size: 23%;
      flex-basis: 23%;
  margin: 10px;
  padding: 10px;
}

.skills-title span {
  font-size: 6.5rem;
}

.skills-title p {
  text-align: center;
  color: #4E8098;
  font-weight: bold;
}
