.skills {
  height: 100%;
}

.skills-container {
  /* margin: 6% auto; */
  display: flex;
}

.skills-title {
  flex-basis: 23%;
  margin: 10px;
  padding: 10px;
}


.skills-title p {
  text-align: center;
  color: #4E8098;
  font-weight: bold;
}
