footer {
  height: 5vh;
  text-align: center;
}

footer p {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 0.5rem;
  color: #ADC9CE;
}
