.nav-bar {
  background: none;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
   justify-content: space-between;
  -ms-flex-line-pack: center;
  align-items: center;
  /* transition: top 0.3s; */
  padding: 20px 30px ;

    @media (max-width: 700px) {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
  }
}

/* .nav-lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
   justify-content: flex-start;
} */


.nav-link {
  color: var(--clr-links);
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  transition: 0.3s ease;
}
