.nav-bar {
  background: none;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
   justify-content: space-between;
  -ms-flex-line-pack: center;
  align-items: center;
  /* transition: top 0.3s; */
  padding: 20px 30px ;

    @media (max-width: 700px) {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding: 1.3rem 1.3rem;
  }
}

li.nav-bar {

  @media (max-width: 700px) {
    margin: 0px 5px!;
  }
}

/*
li.nav-link {
  @media (max-width: 700px) {
    margin: 0rem 0.50rem!;
  }
} */


.nav-link {
  color: var(--clr-links);
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  transition: 0.3s ease;

  @media (max-width: 700px) {
    margin: 0rem 0.05rem;
  }
}
