.nav-bar {
  background: none;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
   justify-content: flex-end;
  -ms-flex-line-pack: center;
  align-items: center;
  /* transition: top 0.3s; */
  padding: 20px 30px ;

    @media (max-width: 700px) {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
  }
}

.nav-link {
  color: var(--clr-links);
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  transition: 0.3s ease;

  /* @media (max-width: 400px) {
    color: red;
  } */
}
