/* INTRO - WELCOME NAME*/

.welcome-name {
  /* height: 100vh; */
  width: 90%;
  flex-flow: column wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content:center;

  @media (max-width: 500px) {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.welcome-name h1, p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -ms-flex-line-pack: center;
  align-items: center;
}

.welcome-message p {
  font-size: clamp(1rem, 2.5vw, 2rem);
  text-transform: uppercase;
  color: #4E8098;
}

/* END INTRO */

/* ARROW */


.arrow {
  position: relative;
  margin-top: 60px;
  cursor: pointer;
  font-size: clamp(2rem, 5vw, 5rem);
  color: #4E8098;
  text-align: center;

}

.arrow:active {
  border-bottom: 2px solid #4E8098;
}

.arrow:hover {
  color: #092327;
}



/* END ARROW */
