/* COLORS THEME :
white: #EAF2F3;
lightblue: #ADC9CE;
blue: #4E8098;
darkblue: #092327;
black: #03181B;
*/

/* BODY  */
body {
  color: #EAF2F3;
  background-size: cover;
  background-color:#FFFFFF;
  background: linear-gradient(38deg, #FFFFFF 0%, #eaf2f3 96%, #dcfafe 100%);
}

/* Colors Headings, paragraph, links, icons */
h1, p {
 color: #092327;
}

h3, h4 {
  color:#ADC9CE;
}

a, i {
  color: #ADC9CE;
}

h2, a:hover, i:hover {
  color: #4E8098;
}

/* BACKGROUND MESSAGE SOFT SKILLS */

.messagedefilant div span {
  background: #ADC9CE;
}

.messagedefilant-soft div span {
  background: #4E8098;
}
