:root {
  --clr-text-light:#EAF2F3;
  --clr-icons:#ADC9CE;
  --clr-links:#4E8098;
  --clr-text: #092327;
  --clr-bg-light: background: rgb(255,255,255);
  background: linear-gradient(320deg,rgba(255,255,255,1) 0%, rgba(245,249,249,1) 23%, rgba(234,242,243,1) 34%, rgba(234,242,243,1) 60%, rgba(234,242,243,1) 78%, rgba(212,227,230,1) 87%, rgba(173,192,198,1) 95%, rgba(133,171,184,1) 100%);
  --clr-bg-dark:#092327;
}

/* Colors Headings, paragraph, links, icons */
h1, p , .nav-links a:hover{
  color: #092327;
 }

h3, h4 {
  color:#ADC9CE;
}

a, i  {
  color: #ADC9CE;
}

svg .feather {
  color: #ADC9CE;

}

h2, a:hover, i:hover, .nav-links a {
  color: #4E8098;
}

/* BACKGROUND MESSAGE SOFT SKILLS */

.soft-skills-title div span {
  background: #4E8098;
}

.soft-skills-list div span {
  background: #ADC9CE;
}
