/*
white: #EAF2F3;
lightblue: #ADC9CE;
blue: #4E8098;
darkblue: #092327;
black: #03181B;
*/

body {
color: #EAF2F3;
background-color:#FFFFFF;
background: linear-gradient(38deg, #FFFFFF 0%, #eaf2f3 96%, #dcfafe 100%);
}

/* Headings */
h1 {
 color: #092327;
}

h2 {
  color:#4E8098;
}

h3 {
  color:#ADC9CE;
}

p {
  color: #03181B;
}


a {
  color: #ADC9CE;
}

a:hover {
  color: #4E8098;
}
